@charset "utf-8";

/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

a {
	color: #007bc4 /*#424242*/;
	text-decoration: none;
}

a:hover {
	text-decoration: underline
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body {
	height: 100%;
	font: 12px/ 18px "Microsoft Yahei", Tahoma, Helvetica, Arial, Verdana,"\5b8b\4f53", sans-serif;
	color: #51555C;
	background: #162934 url(../images/body_bg.gif) repeat-x
}

img {
	border: none
}

#header {
	width: 980px;
	height: 92px;
	margin: 0 auto;
	position: relative
}

#logo {
	width: 240px;
	height: 90px;
	background: url(../images/logo_demo.gif) no-repeat
}

#logo h1 {
	text-indent: -999em
}

#logo h1 a {
	display: block;
	width: 240px;
	height: 90px
}

#main {
	width: 1100px;
	min-height: 650px;
	margin: 30px auto 0 auto;
	background: #fff;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

h2.top_title {
	margin: 4px 20px;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d3d3d3;
	font-size: 18px;
	color: #a84c10;
	background: url(../images/arrL.gif) no-repeat 2px 14px
}

#footer {
	height: 60px;
}

#footer p {
	padding: 10px 2px;
	line-height: 24px;
	text-align: center
}

#footer p a:hover {
	color: #51555C
}

#stat {
	display: none
}

.google_ad {
	width: 728px;
	height: 90px;
	margin: 50px auto
}

.ad_76090,.ad_demo {
	width: 760px;
	height: 90px;
	margin: 40px auto
}

.demo_topad {
	position: absolute;
	top: 15px;
	right: 0px;
	width: 640px;
	height: 60px;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	top: 20%;
	left: 20%;
	width: 50%;
	height: 40%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content_small {
	display: none;
	position: absolute;
	top: 40%;
	left: 30%;
	width: 40%;
	height: 20%;
	border: 2px solid lightblue;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

#wizard {
	border: 5px solid #789;
	font-size: 12px;
	height: 530px;
	margin: 20px auto;
	width: 570px;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#wizard .items {
	width: 20000px;
	clear: both;
	position: absolute;
}

#wizard .right {
	float: right;
}

#wizard #status {
	height: 35px;
	background: #123;
	padding-left: 25px !important;
}

#status li {
	float: left;
	color: #fff;
	padding: 10px 30px;
}

#status li.active {
	background-color: #369;
	font-weight: normal;
}

.input {
	width: 240px;
	height: 18px;
	margin: 10px auto;
	line-height: 20px;
	border: 1px solid #d3d3d3;
	padding: 2px
}

.page {
	padding: 20px 30px;
	width: 500px;
	float: left;
}

.page h3 {
	height: 42px;
	font-size: 16px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 20px;
	padding-bottom: 5px
}

.page h3 em {
	font-size: 12px;
	font-weight: 500;
	font-style: normal
}

.page p {
	line-height: 24px;
}

.page p label {
	font-size: 14px;
	display: block;
}

.btn_nav {
	height: 36px;
	line-height: 36px;
	margin: 20px auto;
}

.prev,.next {
	width: 100px;
	height: 32px;
	line-height: 32px;
	background: url(../images/btn_bg.gif) repeat-x bottom;
	border: 1px solid #d3d3d3;
	cursor: pointer
}

.listTableHead {
	color: #383838;
	font-weight: bold;
	font-size: 10pt;
	background: #ECF5FF;
	font-family: 微软雅黑;
	border: 1px solid #cccccc;
	text-align: center;
	cursor: pointer;
	height: 30px;
}

.listTableText {
	color: #383838;
	font-size: 10pt;
	font-family: 微软雅黑;
	text-align: center;
	border: 1px solid #cccccc;
	height: 30px;
}

.query_hint {
	border: 5px solid #939393;
	width: 250px;
	height: 50px;
	line-height: 55px;
	padding: 0 20px;
	position: absolute;
	left: 50%;
	margin-left: -140px;
	top: 50%;
	margin-top: -40px;
	font-size: 15px;
	color: #333;
	font-weight: bold;
	text-align: center;
	background-color: #f9f9f9;
}

.query_hint img {
	position: relative;
	top: 10px;
	left: -8px;
}

.scrollDiv{
	scrollbar-face-color: #ECF5FF;
	scrollbar-shadow-color: #B3DDF7;
	scrollbar-highlight-color: #B3DDF7;
	scrollbar-3dlight-color: #EBEBE4;
	scrollbar-darkshadow-color: #EBEBE4;
	scrollbar-track-color: #FCFCFC;
	scrollbar-arrow-color: #B4DAF1;
}